html, body{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: bold;
}

header {
    background-image: url(images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 1.5rem; 
    margin-top: -1.5rem;
    height: 30rem;
    width: 100%; 
    min-width: 960px;
}

nav {
    max-width: 960px;
    height: auto;
    margin: 1.5rem auto 0;
    background-color: cadetblue;
}

nav img {
    height: 1.5rem;
    margin: 1rem auto 1rem 1rem;
    vertical-align: middle;
}

#name{
    display: inline-block;
    vertical-align: middle;
    margin-left: 1rem;
    text-decoration: none;
    color: white;
}

ul{
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    display: inline-block;
}

li a {
    text-decoration: none;
    display: block;
    padding: 1rem;
    line-height: 1.5rem;
    color: white;
}

li a:last-child{
    padding-right: 2rem;
}

li a:hover {
    text-decoration: underline;
}

#statement {
    position: absolute;
    top: 15rem;
    right: 8rem;
    padding: 2rem;
    background-color: white;
}

#container{
    margin: 4rem auto 0;
    width: 960px;
    height: auto;
}

#offerCont{
    width: 100%;
    text-align: center;
}

.offers {
    width: 20%;
    display: inline-block;
    height: auto;
}

.offers img{
    width: 5rem;
}

#infCont {
    text-align: left;
    margin-top: 5rem;
    width: 100%;
}

.information{
    vertical-align: top;
    display: inline-block;
    width: 38%;
    margin-right: 5rem;
}

.information h3 {
    color: white;
    background-color: cadetblue;
    width: 15rem;
    padding: .5rem 1rem;
}

footer {
    background-color: aliceblue;
    text-align: left;
    width: 100%;
    margin-top: 3rem;
    padding: 3rem 0;
}

footer img {
    height: 1.5rem;
    margin-left: 2rem;
    vertical-align: middle; 
}

footer p {
    display: inline-block;
}

